name: Build TensorFlow Lite Shared Library

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build-tflite:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y cmake ninja-build g++ git wget unzip

      # Download TensorFlow (only TFLite needed)
      - name: Clone TensorFlow
        run: |
          git clone --depth 1 https://github.com/tensorflow/tensorflow.git
          ls tensorflow/tensorflow/lite

      # Create build directory
      - name: Create build folder
        run: mkdir -p tensorflow/tensorflow/lite/build

      # Configure CMake
      - name: Configure TFLite CMake
        run: |
          cd tensorflow/tensorflow/lite/build
          cmake .. \
            -DTFLITE_ENABLE_C_API=ON \
            -DTFLITE_ENABLE_RUY=ON \
            -DTFLITE_ENABLE_XNNPACK=ON \
            -DTFLITE_USE_FARMHASH=OFF \
            -DCMAKE_BUILD_TYPE=Release \
            -G Ninja

      # Build
      - name: Build TensorFlow Lite
        run: |
          cd tensorflow/tensorflow/lite/build
          ninja

      # Upload built library
      - name: Upload .so file
        uses: actions/upload-artifact@v4
        with:
          name: tflite-linux-so
          path: |
            tensorflow/tensorflow/lite/build/*.so
            tensorflow/tensorflow/lite/build/*.a
