name: Build TensorFlow Lite Shared Library

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install GCC-12 and tools
        run: |
          sudo apt update
          sudo apt install -y g++-12 gcc-12 cmake ninja-build git

      - name: Set GCC-12 as default
        run: |
          sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-12 50
          sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-12 50
          gcc --version
          g++ --version

      - name: Clone TensorFlow
        run: |
          git clone --depth 1 https://github.com/tensorflow/tensorflow.git
          mkdir -p tensorflow/tensorflow/lite/build

      - name: Configure CMake
        run: |
          cd tensorflow/tensorflow/lite/build
          cmake .. \
            -G Ninja \
            -DTFLITE_ENABLE_C_API=ON \
            -DTFLITE_ENABLE_RUY=ON \
            -DTFLITE_ENABLE_XNNPACK=ON \
            -DTFLITE_USE_FARMHASH=OFF \
            -DCMAKE_C_COMPILER=gcc-12 \
            -DCMAKE_CXX_COMPILER=g++-12 \
            -DCMAKE_BUILD_TYPE=Release

      - name: Build
        run: |
          cd tensorflow/tensorflow/lite/build
          ninja

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: tflite-linux
          path: tensorflow/tensorflow/lite/build/*.so
